* {
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
}

/* Create three unequal columns that floats next to each other */
.column {
    padding: 15px;
    float: left;
    text-align: center;

}
body {
    background-image: url("back3.jpg");
    background-size: cover;
}

table {
    background: black;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

.left {
    text-align: center;
}

.table>thead>tr>th {
    text-align: center;
}

.table{
    background: #212529 !important;
    color: white !important;
}